.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-header);
  padding-top: 1rem;
  padding-bottom: 2rem;

  @include mobile {
    padding-top: 2rem;
  }

  &.header {
    position: relative;
    padding-bottom: 0.5rem;

    @include mobile {
      padding-bottom: 0;
    }

    .headerHome__logo {
      svg {
        fill: var(--black);
      }
    }

    .headerHome__links {
      a {
        color: var(--black);
      }
    }

    .headerHome__languages {
      a {
        &::before {
          background: var(--black);
        }
      }
    }

    .burger__line {
      background: var(--black);
    }
  }

  &.headerProject {
    position: absolute;

    --black: #ffff;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.anim-header-home {
      opacity: 0;
      transform: translateY(100%);
      animation-name: fadeInHeaderHome;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      // animation-timing-function: ease-in-out;
      animation-delay: 0.5s;

      @keyframes fadeInHeaderHome {
        0% {
          opacity: 0;
          transform: translateY(100%);
        }
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }

  &__logo {
    a {
      display: flex;
    }
    svg {
      fill: var(--white);
      min-width: 18.9rem;
      max-width: 18.9rem;

      @include tablet {
        min-width: 18rem;
        max-width: 18rem;
      }

      @include mobile {
        min-width: 13rem;
        max-width: 13rem;
      }
    }
  }

  &__menu {
    @include tablet {
      display: none;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 7rem;

      li {
        line-height: 1;

        &.menu-item-active {
          a {
            opacity: 1;
            &::before {
              transform: scale(1, 1);
            }
          }
        }
      }

      a {
        position: relative;
        opacity: 1;
        color: var(--black);
        font-size: 1.4rem;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;

        &::before {
          @include pseudo;
          position: absolute;
          left: 40%;
          transform: translate(-50%);
          bottom: -1.5rem;
          height: 0.1rem;
          background: var(--black);
          width: 1.6rem;
          transform: scale(0, 1);
          transition: all 0.3s ease;
        }

        @include hover {
          opacity: 1;
          &::before {
            transform: scale(1, 1);
          }
        }
      }
    }
  }

  &__link {
    text-align: right;
    font-size: 1.4rem;
    text-transform: uppercase;

    @include mobile {
      display: none;
    }

    @include hover {
      opacity: 0.6;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 5rem;

    @include tablet {
      gap: 3rem;
    }

    a {
      color: var(--white);
      font-size: 1.4rem;
      text-transform: uppercase;
      line-height: 1;
    }
  }

  &__languages {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    @include mobile {
      display: none;
    }

    a {
      position: relative;
      opacity: 0.6;

      &::before {
        @include pseudo;
        position: absolute;
        left: 0;
        bottom: -1.5rem;
        height: 0.1rem;
        background: var(--white);
        width: 100%;
        transform: scale(0, 1);
        transition: all 0.3s ease;
      }
      &.active {
        opacity: 1;
        &::before {
          width: 100%;
          transform: scale(1, 1);
        }
      }

      @include hover {
        opacity: 1;
        &::before {
          transform: scale(1, 1);
        }
      }
    }
  }

  &__burger {
    display: none;

    @include tablet {
      height: 2.4rem;
      display: flex;
    }

    .burger {
      height: 2.4rem;
      width: 2.4rem;
      position: relative;

      @include mobile {
        margin-top: 0.15rem;
      }

      &__line {
        width: 100%;
        position: absolute;
        height: 1.5px;
        background: var(--white);
        left: 50%;
        top: 36%;
        transform: translate(-50%, -50%);

        &:nth-child(2) {
          margin-top: 0.6rem;
        }
      }
    }
  }
}
