.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-header);
  padding-top: 10px;
  padding-bottom: 20px;

  @include mobile {
    padding-top: 20px;
  }

  &.header {
    position: relative;
    padding-bottom: 5px;

    @include mobile {
      padding-bottom: 0;
    }

    .headerHome__logo {
      svg {
        fill: var(--black);
      }
    }

    .headerHome__links {
      a {
        color: var(--black);
      }
    }

    .headerHome__languages {
      a {
        &::before {
          background: var(--black);
        }
      }
    }

    .burger__line {
      background: var(--black);
    }
  }

  &.headerProject {
    position: absolute;

    --black: #ffff;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    svg {
      fill: var(--white);
      width: 189px;
      max-height: 29px;

      @include tablet {
        width: 180px;
      }

      @include mobile {
        width: 130px;
      }
    }
  }

  &__menu {
    @include tablet {
      display: none;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 70px;

      li {
        line-height: 1;

        &.menu-item-active {
          a {
            opacity: 1;
            &::before {
              transform: scale(1, 1);
            }
          }
        }
      }

      a {
        position: relative;
        opacity: 1;
        color: var(--black);
        font-size: 14px;
        text-transform: uppercase;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

        &::before {
          @include pseudo;
          position: absolute;
          left: 40%;
          transform: translate(-50%);
          bottom: -15px;
          height: 1px;
          background: var(--black);
          width: 16px;
          transform: scale(0, 1);
          transition: all 0.3s ease;
        }

        @include hover {
          opacity: 1;
          &::before {
            transform: scale(1, 1);
          }
        }
      }
    }
  }

  &__link {
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;

    @include mobile {
      display: none;
    }

    @include hover {
      opacity: 0.6;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 50px;

    @include tablet {
      gap: 30px;
    }

    a {
      color: var(--white);
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1;
    }
  }

  &__languages {
    display: flex;
    align-items: center;
    gap: 6px;

    @include mobile {
      display: none;
    }

    a {
      position: relative;
      opacity: 0.6;

      &::before {
        @include pseudo;
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 1px;
        background: var(--white);
        width: 100%;
        transform: scale(0, 1);
        transition: all 0.3s ease;
      }
      &.active {
        opacity: 1;
        &::before {
          width: 100%;
          transform: scale(1, 1);
        }
      }

      @include hover {
        opacity: 1;
        &::before {
          transform: scale(1, 1);
        }
      }
    }
  }

  &__burger {
    display: none;

    @include tablet {
      height: 24px;
      display: flex;
    }

    .burger {
      height: 24px;
      width: 24px;
      position: relative;

      &__line {
        width: 100%;
        position: absolute;
        height: 1.5px;
        background: var(--white);
        left: 50%;
        top: 36%;
        transform: translate(-50%, -50%);

        &:nth-child(2) {
        }

        &:nth-child(2) {
          margin-top: 6px;
        }
      }
    }
  }
}
