.pageProject {
  &__main {
    overflow: hidden;
    @include tablet {
      margin-bottom: 2rem;
    }

    &--image {
      height: 100vh;
      width: 100vw;
      transition: all 0.5s;
    }

    &--back {
      position: absolute;
      left: 1.5rem;
      top: 8.2rem;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-transform: uppercase;
      color: var(--white);

      @include tablet {
        font-size: 1.2rem;
      }

      @include mobile {
        display: none;
      }

      @include hover {
        opacity: 0.6;
      }
    }
  }

  .title-main {
    .first-word {
      margin: 0;
      font-size: 18rem;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      text-transform: uppercase;
      display: flex;
      margin-bottom: -5%;

      @include big-desktop {
        font-size: 13rem;
      }

      @include tablet {
        font-size: 9rem;
      }

      @include mobile {
        font-size: 3.6rem;
      }
    }
    .title {
      display: flex;
      align-items: center;
      gap: 2.8rem;

      @include tablet {
        gap: 14rem;
        margin-bottom: 5rem;
      }

      @include small-tablet {
        margin-bottom: 1.6rem;
      }

      @include mobile {
        gap: 1.4rem;
        margin-bottom: 3rem;
      }

      h1 {
        margin: 0;
        font-size: 18rem;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-transform: uppercase;

        @include big-desktop {
          font-size: 13rem;
        }

        @include tablet {
          font-size: 9rem;
        }

        @include mobile {
          font-size: 3.6rem;
        }
      }

      .two-line {
        width: 100%;
        height: 100%;
        &::before {
          @include pseudo;
          width: 100%;
          height: 1.7rem;
          background: var(--black);

          @include tablet {
            height: 0.8rem;
          }

          @include mobile {
            height: 0.3rem;
          }
        }

        &::after {
          @include pseudo;
          width: 100%;
          height: 1.7rem;
          background: var(--black);
          margin-top: 2rem;

          @include tablet {
            height: 0.8rem;
            margin-top: 1rem;
          }

          @include mobile {
            height: 0.3rem;
            margin-top: 0.4rem;
          }
        }
      }
    }
  }
  .hashtags {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    @include mobile {
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 2rem;
    }

    .hashtag {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      opacity: 0.7;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        &::after {
          @include pseudo;
          height: 1.8rem;
          width: 0.2rem;
          background: var(--black);
          opacity: 0.7;
          line-height: 160%;
          margin: 0 2rem;

          @include mobile {
            height: 1.4rem;
            width: 0.2rem;
            margin: 0 1.8rem;
          }
        }
      }

      @include mobile {
        font-size: 1.4rem;
      }
    }
  }

  .text {
    margin-bottom: 10rem;

    @include small-tablet {
      margin-bottom: 2.4rem;
    }

    @include mobile {
      margin-bottom: 4rem;
    }
    p {
      margin: 0;
      max-width: 129rem;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      @include small-tablet {
        font-size: 2.8rem;
      }

      @include mobile {
        font-size: 1.6rem;
      }
    }
    p + p {
      margin-top: 1.6rem;
    }
  }

  .items {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    @include small-tablet {
      margin-bottom: 1.2rem;
    }
  }

  .item {
    &__video {
      width: 100%;
      display: flex;

      @include hover {
        .item__video--fon {
          opacity: 0.3;
        }

        .play {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }

      &--fon {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background: var(--black);
        transition: all 0.2s ease;
        cursor: pointer;
        z-index: var(--z-fon-video);
      }
      .play {
        width: 15rem;
        height: 15rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 0.2rem solid var(--white);
        z-index: var(--z-play);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;

        @include mobile {
          width: 8rem;
          height: 8rem;
        }

        svg {
          fill: var(--white);
          width: 1.3394rem;
          height: 1.6533rem;
          transform: translate(0.1rem, -0.1rem);

          @include mobile {
            transform: translate(0.2rem, 0);
          }
        }

        &.active {
          transform: translate(-50%, -50%) scale(0.1);
          opacity: 0;
        }
      }
    }

    &__image {
      height: auto;
      width: 100%;
    }
  }

  .back {
    display: block;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 15rem;

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 10rem;
    }

    @include mobile {
      margin-bottom: 7rem;
    }

    @include hover {
      opacity: 0.6;
    }
  }

  .item__last {
    display: flex;

    &--fon {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      top: 0;
      left: 0;
      background: var(--black);
    }

    &--img {
      height: 100vh;
      width: 100vw;
      transition: all 0.5s;
    }

    &--words {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 1.5rem;

      @include hover {
        opacity: 0.6 !important;
      }

      &--prefix {
        text-align: center;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: -2%;

        @include small-tablet {
          font-size: 2.8rem;
        }

        @include mobile {
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
      }
    }

    &--word {
      text-align: center;
      .first-word {
        margin: 0;
        font-size: 18rem;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin-bottom: -5%;
        color: var(--white);

        @include big-desktop {
          font-size: 13rem;
        }

        @include tablet {
          font-size: 9rem;
        }

        @include mobile {
          font-size: 3.6rem;
        }
      }

      &--anim {
        display: flex;
        align-items: center;
        gap: 2.8rem;

        @include tablet {
          gap: 1.4rem;
        }

        @include mobile {
          gap: 1.4rem;
        }
        .two-word {
          margin: 0;
          font-size: 18rem;
          font-style: normal;
          font-weight: 700;
          line-height: 160%;
          text-transform: uppercase;
          color: var(--white);

          @include big-desktop {
            font-size: 13rem;
          }

          @include tablet {
            font-size: 9rem;
          }

          @include mobile {
            font-size: 3.6rem;
          }
        }

        .two-line {
          width: 100%;
          height: 100%;
          &::before {
            @include pseudo;
            width: 100%;
            height: 1.7rem;
            background: var(--white);

            @include tablet {
              height: 0.8rem;
            }

            @include mobile {
              height: 0.3rem;
            }
          }

          &::after {
            @include pseudo;
            width: 100%;
            height: 1.7rem;
            background: var(--white);
            margin-top: 2rem;

            @include tablet {
              height: 0.8rem;
              margin-top: 1rem;
            }

            @include mobile {
              height: 0.3rem;
              margin-top: 0.4rem;
            }
          }
        }
      }
    }

    &--bottom {
      position: absolute;
      width: 100%;
      left: 0;
      padding: 0 1.5rem;
      bottom: 1.5rem;
      z-index: var(--z-item-last-bottom);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--strategy {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-transform: uppercase;
      position: relative;
      color: var(--white);

      @include mobile {
        font-size: 1.4rem;
      }

      &::before {
        @include pseudo;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: var(--white);
        height: 0.1rem;
        transition: all 0.2s ease;
      }

      @include hover {
        opacity: 0.6;

        &::before {
          opacity: 0.6;
        }
      }
    }

    &--arrow {
      width: 6rem;
      height: 6rem;
      background: transparent;
      border-radius: 100%;
      border: 0.1rem solid var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;

      @include mobile {
        width: 5rem;
        height: 5rem;
      }
      svg {
        transition: all 0.2s ease;
        width: 1.4rem;
        fill: var(--white);

        @include mobile {
          width: 0.8rem;
        }
      }

      @include hover {
        background: var(--white);
        svg {
          fill: var(--black);
        }
      }
    }
  }
}
