.pageAbout {
  @include small-tablet {
    padding-top: 3.2rem;
  }

  @include mobile {
    padding-top: 1rem;
  }

  .container-w-header {
    @include small-tablet {
      height: calc(100vh - 8.4rem);
    }

    @include mobile {
      height: calc(100vh - 7rem);
    }
  }
  .words {
    .word--4 {
      display: flex;
      align-items: center;
      gap: 15%;

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
      }

      @include mobile {
        gap: 2rem;
      }

      .word__many {
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        max-width: 81.6rem;
        font-size: 2.3rem;

        @include tablet {
          font-size: 2.8rem;
          max-width: 74rem;
        }

        @include mobile {
          font-size: 1.8rem;
        }
      }
    }
    .word--span {
      color: #000;
      font-family: Helvetica;
      font-size: 18rem;
      font-style: normal;
      font-weight: 700;
      line-height: 106%;
      text-transform: uppercase;
      user-select: none;

      @include tablet {
        font-size: 7.5rem;
      }

      @include small-tablet {
        font-size: 7rem;
      }

      @include mobile {
        font-size: 2.8rem;
      }
    }
  }

  &__button {
    width: 100%;
    position: absolute;
    bottom: 3rem;

    @include mobile {
      bottom: 0;
    }

    .line {
      display: block;
      width: 100%;
      height: 1.4rem;
      background: var(--black);

      @include small-tablet {
        height: 0.9rem;
      }

      @include mobile {
        height: 0.3rem;
      }
    }

    @include hover {
      opacity: 0.5;
    }

    &--row {
      display: flex;
      align-items: center;
      gap: 4rem;

      @include small-tablet {
        gap: 2rem;
      }
    }

    &--word {
      text-align: right;
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      text-transform: uppercase;
      color: var(--black);
      flex-shrink: 0;

      @include small-tablet {
        font-size: 2.4rem;
      }

      @include mobile {
        font-size: 1.2rem;
      }
    }
  }
}
