.pageProject {
  &__main {
    @include tablet {
      margin-bottom: 20px;
    }

    &--image {
      height: 100vh;
      width: 100vw;
    }

    &--back {
      position: absolute;
      left: 15px;
      top: 82px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-transform: uppercase;
      color: var(--white);

      @include hover {
        opacity: 0.6;
      }
    }
  }

  .title-main {
    .first-word {
      margin: 0;
      font-size: 180px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      text-transform: uppercase;
      display: flex;
      margin-bottom: -5%;

      @include tablet {
        font-size: 90px;
      }

      @include mobile {
        font-size: 35.769px;
      }
    }
    .title {
      display: flex;
      align-items: center;
      gap: 28px;

      @include tablet {
        gap: 14px;
        margin-bottom: 50px;
      }

      @include mobile {
        gap: 14px;
        margin-bottom: 30px;
      }

      h1 {
        margin: 0;
        font-size: 180px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-transform: uppercase;

        @include tablet {
          font-size: 90px;
        }

        @include mobile {
          font-size: 35.769px;
        }
      }

      .two-line {
        width: 100%;
        height: 100%;
        &::before {
          @include pseudo;
          width: 100%;
          height: 17px;
          background: var(--black);

          @include tablet {
            height: 8px;
          }

          @include mobile {
            height: 3px;
          }
        }

        &::after {
          @include pseudo;
          width: 100%;
          height: 17px;
          background: var(--black);
          margin-top: 20px;

          @include tablet {
            height: 8px;
            margin-top: 10px;
          }

          @include mobile {
            height: 3px;
            margin-top: 4px;
          }
        }
      }
    }
  }
  .hashtags {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .hashtag {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      opacity: 0.7;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        &::after {
          @include pseudo;
          height: 18px;
          width: 2px;
          background: var(--black);
          opacity: 0.7;
          line-height: 160%;
          margin: 0 20px;
        }
      }
    }
  }

  .text {
    p {
      margin: 0;
      max-width: 1290px;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 100px;
    }
    p + p {
      margin-top: 1em;
    }
  }

  .items {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .item {
    &__video {
      width: 100%;
      display: flex;

      @include hover {
        .item__video--fon {
          opacity: 0.3;
        }

        .play {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }

      &--fon {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background: var(--black);
        transition: all 0.2s ease;
        cursor: pointer;
        z-index: var(--z-fon-video);
      }
      .play {
        width: 150px;
        height: 150px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: 2px solid var(--white);
        z-index: var(--z-play);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        svg {
          fill: var(--white);
          width: 13.394px;
          height: 16.533px;
          transform: translate(1px, -1px);
        }
      }
    }

    &__image {
      height: auto;
    }
  }

  .back {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 150px;

    @include tablet {
      font-size: 12px;
      margin-bottom: 100px;
    }

    @include mobile {
      margin-bottom: 70px;
    }

    @include hover {
      opacity: 0.6;
    }
  }

  .item__last {
    display: flex;

    &--fon {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      top: 0;
      left: 0;
      background: var(--black);
    }

    &--img {
      height: 100vh;
      width: 100vw;
    }

    &--words {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 15px;

      @include hover {
        opacity: 0.6;
      }

      &--prefix {
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: -2%;
      }
    }

    &--word {
      text-align: center;
      .first-word {
        margin: 0;
        font-size: 180px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin-bottom: -5%;
        color: var(--white);

        @include tablet {
          font-size: 90px;
        }

        @include mobile {
          font-size: 35.769px;
        }
      }

      &--anim {
        display: flex;
        align-items: center;
        gap: 28px;

        @include tablet {
          gap: 14px;
        }

        @include mobile {
          gap: 14px;
        }
        .two-word {
          margin: 0;
          font-size: 180px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%;
          text-transform: uppercase;
          color: var(--white);

          @include tablet {
            font-size: 90px;
          }

          @include mobile {
            font-size: 35.769px;
          }
        }

        .two-line {
          width: 100%;
          height: 100%;
          &::before {
            @include pseudo;
            width: 100%;
            height: 17px;
            background: var(--white);

            @include tablet {
              height: 8px;
            }

            @include mobile {
              height: 3px;
            }
          }

          &::after {
            @include pseudo;
            width: 100%;
            height: 17px;
            background: var(--white);
            margin-top: 20px;

            @include tablet {
              height: 8px;
              margin-top: 10px;
            }

            @include mobile {
              height: 3px;
              margin-top: 4px;
            }
          }
        }
      }
    }

    &--bottom {
      position: absolute;
      width: 100%;
      left: 0;
      padding: 0 15px;
      bottom: 15px;
      z-index: var(--z-item-last-bottom);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--strategy {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-transform: uppercase;
      position: relative;
      color: var(--white);

      &::before {
        @include pseudo;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: var(--white);
        height: 1px;
        transition: all 0.2s ease;
      }

      @include hover {
        opacity: 0.6;

        &::before {
          opacity: 0.6;
        }
      }
    }

    &--arrow {
      width: 60px;
      height: 60px;
      background: transparent;
      border-radius: 100px;
      border: 1px solid var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      svg {
        transition: all 0.2s ease;
        width: 14px;
        fill: var(--white);

        @include mobile {
          width: 6px;
        }
      }

      @include hover {
        background: var(--white);
        svg {
          fill: var(--black);
        }
      }
    }
  }
}
