.pageError {
  .content {
    padding-top: 6rem;

    @include tablet {
      height: auto;
    }

    @include mobile {
      padding-top: 4rem;
    }

    .word-bottom {
      position: fixed;
      bottom: 1.5rem;
      left: 1.5rem;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      color: var(--black);

      @include mobile {
        position: absolute;
        left: 0;
        font-size: 1.2rem;
      }
    }

    .row {
      display: flex;
      gap: 7rem;
      justify-content: space-between;

      @include tablet {
        flex-direction: column;
      }

      @include mobile {
        gap: 4rem;
      }

      .image {
        svg {
          width: 77.2rem;
          height: 35.1rem;

          @include tablet {
            width: 100%;
            height: auto;
            max-width: 50rem;
          }

          @include small-tablet {
            width: 100%;
            max-width: 100%;
          }
        }
      }

      .block-text {
        max-width: 90.2rem;
        margin-right: 3.5rem;
      }

      .title {
        margin-bottom: 4rem;

        @include small-tablet {
          margin-bottom: 3rem;
        }

        @include mobile {
          margin-bottom: 2rem;
        }
        span {
          font-size: 3.2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 160%;
          letter-spacing: 1.6rem;

          @include mobile {
            font-size: 2.4rem;
            letter-spacing: 1.2rem;
          }

          &:first-child {
            position: absolute;
            opacity: 0.2;
            transform: translate(1.2rem, -1.8rem);
            user-select: none;
          }
        }
      }

      .txt {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;

        @include mobile {
          font-size: 1.5rem;
        }
      }

      .txt-big {
        letter-spacing: 0.36rem;
      }

      .text-big {
        margin-bottom: 3.8rem;
        position: relative;
        z-index: 1;

        @include tablet {
          margin-bottom: 2rem;
        }

        @include mobile {
          margin-bottom: 3rem;
        }
      }

      .text-small {
        display: flex;
        align-items: center;
        gap: 6rem;
        margin-bottom: 9rem;

        @include big-desktop {
          margin-bottom: 12rem;
        }

        @include tablet {
          margin-bottom: 2rem;
        }

        @include small-tablet {
          margin-bottom: 8rem;
        }

        @include mobile {
          gap: 1.6rem;
          margin-bottom: 4rem;
        }
      }

      .text-absolute {
        position: absolute;
        opacity: 0.2;
        width: 100%;
        transform: translate(21.4rem, 6rem);
        user-select: none;

        @include big-desktop {
          transform: translate(21.4rem, 7.7rem);
        }

        @include tablet {
          transform: translate(21.4rem, 6rem);
        }

        @include mobile {
          transform: translate(15.2rem, 11.2rem);
        }

        p {
          margin: 0;
        }

        p + p {
          margin-top: 3.8rem;

          @include tablet {
            margin-top: 2rem;
          }

          @include mobile {
            margin-top: 4rem;
          }
        }
      }

      .link-big {
        display: block;
        font-size: 2.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        color: var(--black);

        @include mobile {
          font-size: 1.8rem;
          padding-bottom: 14.4rem;
        }

        @include hover {
          opacity: 0.7;
        }
      }
    }
  }
}
