.pageContact {
  .title {
    display: flex;
    align-items: center;
    gap: 2.8rem;

    @include tablet {
      gap: 1.4rem;
      margin-bottom: 5rem;
    }

    @include mobile {
      gap: 1.4rem;
      margin-bottom: 3rem;
    }

    h1 {
      margin: 0;
      font-size: 18rem;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      text-transform: uppercase;

      @include tablet {
        font-size: 9rem;
      }

      @include mobile {
        font-size: 3.6rem;
      }
    }

    .two-line {
      width: 100%;
      height: 100%;
      &::before {
        @include pseudo;
        width: 100%;
        height: 1.7rem;
        background: var(--black);

        @include tablet {
          height: 0.8rem;
        }

        @include mobile {
          height: 0.3rem;
        }
      }

      &::after {
        @include pseudo;
        width: 100%;
        height: 1.7rem;
        background: var(--black);
        margin-top: 2rem;

        @include tablet {
          height: 0.8rem;
          margin-top: 1rem;
        }

        @include mobile {
          height: 0.3rem;
          margin-top: 0.4rem;
        }
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 15rem;

    @include tablet {
      margin-bottom: 10rem;
      gap: 5rem;
      flex-direction: column;
    }

    @include mobile {
      margin-bottom: 6rem;
    }
  }

  &__contact {
    max-width: 105rem;
    width: 100%;

    .txt {
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;

      @include mobile {
        font-size: 1.8rem;
      }
    }

    span {
      display: block;
      max-width: 53.4rem;
      margin-bottom: 3.4rem;

      @include tablet {
        margin-bottom: 1rem;
        max-width: 100%;
      }

      @include mobile {
        margin-bottom: 2rem;
      }
    }

    a {
      color: var(--black);

      @include hover {
        opacity: 0.7;
      }
    }
  }

  &__feedback {
    max-width: 81rem;

    @include tablet {
      max-width: 100%;
    }

    .feedback {
      &__text {
        font-size: 2.3rem;
        margin-bottom: 3rem;
        line-height: 160%;

        @include mobile {
          margin-bottom: 5rem;
          font-size: 1.8rem;
        }
      }

      &__slogan {
        margin-bottom: 7rem;
        font-size: 2.3rem;
        line-height: 160%;
        font-weight: 700;

        @include tablet {
          margin-bottom: 5rem;
        }

        @include mobile {
          font-size: 1.8rem;
          margin-bottom: 3rem;
        }
      }

      &__inputs {
        display: flex;
        flex-direction: column;
        gap: 5.4rem;
        width: 100%;
        margin-bottom: 4rem;

        @include tablet {
          gap: 5rem;
        }

        @include mobile {
          gap: 2rem;
          margin-bottom: 3rem;
        }

        input {
          outline: none;
          padding: 0;
          border: none;
          border-bottom: 1.7rem solid var(--black);
          border-radius: 0;
          width: 100%;
          padding-bottom: 2rem;
          font-size: 2.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          transition: all 0.2s ease;

          &.error {
            border-color: var(--red-800);
            color: var(--red-800);

            &::placeholder {
              color: var(--red-800);
            }
          }

          @include tablet {
            border-bottom: 0.9rem solid var(--black);
          }

          @include mobile {
            font-size: 1.6rem;
            padding-bottom: 1rem;
            border-bottom: 0.4rem solid var(--black);
          }

          &::placeholder {
            color: var(--gray-600);
          }

          @include hover {
            &::placeholder {
              color: var(--gray-400);
            }
          }
        }
      }

      &__button {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: space-between;

        @include mobile {
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
        }
        button {
          font-size: 2.3rem;
          font-style: normal;
          font-weight: 700;
          line-height: 160%;

          @include mobile {
            font-size: 1.8rem;
          }

          @include hover {
            opacity: 0.7;
          }
        }

        .warning {
          position: absolute;
          color: var(--red-800);
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 160%;
          bottom: -5rem;

          @include mobile {
            font-size: 1.2rem;
            bottom: -3.4rem;
          }
        }

        .policy {
          text-align: right;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          line-height: 1.1;
          opacity: 0.5;

          @include mobile {
            text-align: left;
          }
          a {
            color: var(--black);

            @include hover {
              opacity: 1;
            }
          }
        }
      }

      &__success {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--white);
        z-index: var(--z-form-success);
        top: 0;
        left: 0;

        .border {
          padding-top: 5.6rem;
          border-bottom: 1.7rem solid var(--black);
          border-radius: 0;
          margin-bottom: 4rem;

          @include tablet {
            border-bottom: 0.9rem solid var(--black);
          }

          @include mobile {
            padding-top: 3.6rem;
            border-bottom: 0.4rem solid var(--black);
          }
        }

        .text {
          font-size: 5.6rem;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
          margin-bottom: 5rem;

          @include mobile {
            font-size: 2.8rem;
            margin-bottom: 4rem;
          }
        }

        button {
          font-size: 2.3rem;
          font-style: normal;
          font-weight: 700;
          line-height: 160%;
          text-transform: uppercase;

          @include mobile {
            font-size: 1.8rem;
          }

          @include hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    justify-content: space-between;
    padding-bottom: 2rem;

    @include mobile {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .copy {
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;

      @include mobile {
        font-size: 1.2rem;
      }
    }

    .social {
      display: flex;
      align-items: center;
      gap: 20.5rem;

      @include tablet {
        gap: 5rem;
      }

      @include mobile {
        gap: 1.6rem;
        justify-content: space-between;
        width: 100%;
      }

      a {
        font-size: 2.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        color: var(--black);

        @include mobile {
          font-size: 1.2rem;
        }

        @include hover {
          opacity: 0.5;
        }
      }
    }
  }
}
