.pagePolicy {
  .content {
    margin: 0 auto;
    max-width: 120rem;
    padding-top: 17rem;
    padding-bottom: 17rem;

    @include tablet {
      padding: 10rem 0;
    }

    @include mobile {
      padding: 4rem 0;
    }

    h1 {
      font-size: 5.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 4rem;

      @include tablet {
        font-size: 4.6rem;
      }

      @include mobile {
        font-size: 2.8rem;
        margin-bottom: 3rem;
      }
    }

    a {
      color: var(--black);
      text-decoration: underline;
      text-underline-offset: 0.3rem;

      @include hover {
        opacity: 0.6;
      }
    }

    h4 {
      font-size: 3.2rem;
      margin: 0;
      margin-bottom: 4rem;
      font-weight: 400;
      @include mobile {
        font-size: 2.4rem;
        margin-bottom: 3rem;
      }
    }

    p {
      margin: 0;
      font-size: 1.8rem;
      margin-bottom: 4rem;

      @include mobile {
        font-size: 1.6rem;
        margin-bottom: 3rem;
      }
    }

    ul,
    ol {
      margin: 0;
      padding: 0;
      padding-left: 2rem;
      margin-bottom: 4rem;

      @include mobile {
        margin-bottom: 3rem;
      }

      li {
        line-height: 1.6;
        font-size: 1.8rem;

        @include mobile {
          font-size: 1.6rem;
        }
      }
    }
  }
}
