.pageHome {
  position: relative;
  transition: all 0.5s ease;

  .swiper-slide {
    position: relative;
  }

  .pageHome-slider-fon {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: var(--black);
    opacity: 0.2;
    z-index: var(--z-fon-home);
  }

  img {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
}
