<div class="cookieHome display-none data-cookie">
  <div class="cookieHome__container font-secondary">
    <span>Мы используем </span><a class="font-secondary" href="">файлы cookie,</a> <span> чтобы улучшить сайт для вас. </span> <button class="btn-reset btn-close-cookieHome">
      <svg class="" width="11" height="11" viewBox="0 0 11 11">
        <use xlink:href="img/sprite.svg#icon-close-cookie"></use>
      </svg>
    </button>
  </div>
</div>
<footer class="footerHome">
  <div class="container">
    <div class="footerHome__container">
      <a href="projects.html">проекты</a>
      <a href="about.html">кто мы</a>
      <a href="contact.html">контакты</a>
    </div>
  </div>
</footer>
