<header class="headerHome header">
  <div class="container">
    <div class="headerHome__container">
      <div class="headerHome__logo">
        <a href="home.html">
          <svg class="" viewBox="0 0 189 29">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>

      <div class="headerHome__menu">
        <nav class="nav-menu" title="">
          <ul>
            <li class="menu-item menu-item-active">
              <a href="projects.html">проекты</a>
            </li>
            <li class="menu-item"><a href="about.html">кто мы</a></li>
            <li class="menu-item"><a href="contact.html">контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="headerHome__links">
        <a class="headerHome__link" href="strategy.html">заполнить бриф</a>
        <div class="headerHome__languages">
          <a href="">EN</a>
          <a href="">PT</a>
          <a class="active" href="">RU</a>
        </div>
        <div class="headerHome__burger">
          <button
            class="btn-reset burger data-burger"
            aria-label="Открыть меню"
            aria-expanded="false"
          >
            <span class="burger__line"></span>
            <span class="burger__line"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
