<section class="index">
  <div class="index__container">
    <div class="index__box">
      <div class="index__cont">
        <a href="home.html" class="btn btn__index">Главная</a>
        <a href="projects.html" class="btn btn__index">Проекты</a>
      </div>
      <div class="index__cont">
        <a href="projectOne.html" class="btn btn__index">Страница проекта (одна строка)</a>
        <a href="projectTwo.html" class="btn btn__index">Страница проекта (две строки)</a>
      </div>
      <div class="index__cont">
        <a href="about.html" class="btn btn__index">Кто мы</a>
        <a href="strategy.html" class="btn btn__index">бриф стратегия</a>
      </div>
      <div class="index__cont">
        <a href="contact.html" class="btn btn__index">Контакты</a>
        <a href="policy.html" class="btn btn__index">Согласие с условиями</a>
      </div>
      <div class="index__cont">
        <a href="error.html" class="btn btn__index">Страница ошибки</a>
      </div>
    </div>
  </div>
</section>
