<div class="menu display-none data-menu">
  <div class="menu__container">
    <div class="container">
      <div class="menu__top">
        <a href="home.html" class="logo">
          <svg class="" viewBox="0 0 189 29">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>
        <button class="close btn-reset data-burger-close">
          <svg class="" viewBox="0 0 19 18">
            <use xlink:href="img/sprite.svg#icon-close-menu"></use>
          </svg>
        </button>
      </div>
      <div class="menu__center">
        <nav class="menu-nav" title="">
          <ul>
            <li class="menu-item">
              <a href="projects.html">Проекты</a><span class="two-line"></span>
            </li>
            <li class="menu-item menu-item-active">
              <a href="about.html">кто мы</a><span class="two-line"></span>
            </li>
            <li class="menu-item">
              <a href="contact.html">контакты</a><span class="two-line"></span>
            </li>
          </ul>
        </nav>
      </div>
      <div class="menu__bottom">
        <ul>
          <li><a href="#" target="_blank">ВКОНТАКТЕ</a></li>
          <li><a href="#" target="_blank">INSTAGRAM</a></li>
          <li><a href="#" target="_blank">FACEBOOK</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
