<div class="pageProjects">
  <div class="primary__container">
    <div class="container">
      <div class="content relative">
        <div class="title">
          <span class="two-line"></span>
          <h1>Проекты</h1>
        </div>
        <div class="tabs tabs__projects" data-tabs="tabs-projects">
          <ul class="tabs__nav tabs__projects--nav">
            <li class="tabs__nav-item tabs__projects--item"><button class="btn-reset tabs__nav-btn tabs__projects--btn" type="button">ИССЛЕДОВАНИЯ & стратегия</button></li>
            <li class="tabs__nav-item tabs__projects--item"><button class="btn-reset tabs__nav-btn tabs__projects--btn" type="button">НЕЙМИНГ</button></li>
            <li class="tabs__nav-item tabs__projects--item"><button class="btn-reset tabs__nav-btn tabs__projects--btn" type="button">АЙДЕНТИКА</button></li>
            <li class="tabs__nav-item tabs__projects--item"><button class="btn-reset tabs__nav-btn tabs__projects--btn" type="button">УПАКОВКА</button></li>
            <li class="tabs__nav-item tabs__projects--item"><button class="btn-reset tabs__nav-btn tabs__projects--btn" type="button">САЙТЫ</button></li>
          </ul>
          <div class="tabs__content tabs__projects--content">
            <div class="tabs__panel tabs__projects--panel">
              <div class="pageProjects__items">
                <a href="projectOne.html" class="pageProjects__item relative">
                  <img class="pageProjects__item--img" src="../img/image-projects-1.jpg" alt="">
                  <span class="pageProjects__item--text">Vitobox — Healthy Lifestyle</span>
                </a>
                <a href="projectTwo.html" class="pageProjects__item relative">
                  <img class="pageProjects__item--img" src="../img/image-projects-2.jpg" alt="">
                  <span class="pageProjects__item--text">Yumms — Ice Cream Baby</span>
                </a>
                <a href="projectOne.html" class="pageProjects__item relative">
                  <img class="pageProjects__item--img" src="../img/image-projects-3.jpg" alt="">
                  <span class="pageProjects__item--text">Ricobi — Lazer Light</span>
                </a>
                <a href="projectTwo.html" class="pageProjects__item relative">
                  <img class="pageProjects__item--img" src="../img/image-projects-4.jpg" alt="">
                  <span class="pageProjects__item--text">Nikita Efremov</span>
                </a>
                <a href="projectOne.html" class="pageProjects__item relative">
                  <img class="pageProjects__item--img" src="../img/image-projects-5.jpg" alt="">
                  <span class="pageProjects__item--text">Плоский Белый</span>
                </a>
                <a href="projectTwo.html" class="pageProjects__item relative">
                  <img class="pageProjects__item--img" src="../img/image-projects-6.jpg" alt="">
                  <span class="pageProjects__item--text">PIMS — Больше, чем чай</span>
                </a>
              </div>
            </div>
            <div class="tabs__panel tabs__projects--panel">
              <div class="pageProjects__items">
              <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-1.jpg" alt="">
                <span class="pageProjects__item--text">Vitobox — Healthy Lifestyle</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-2.jpg" alt="">
                <span class="pageProjects__item--text">Yumms — Ice Cream Baby</span>
              </a>
              <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-3.jpg" alt="">
                <span class="pageProjects__item--text">Ricobi — Lazer Light</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-4.jpg" alt="">
                <span class="pageProjects__item--text">Nikita Efremov</span>
              </a>
            </div>
            </div>
            <div class="tabs__panel tabs__projects--panel">
              <div class="pageProjects__items">
              <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-1.jpg" alt="">
                <span class="pageProjects__item--text">Vitobox — Healthy Lifestyle</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-2.jpg" alt="">
                <span class="pageProjects__item--text">Yumms — Ice Cream Baby</span>
              </a>
              <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-3.jpg" alt="">
                <span class="pageProjects__item--text">Ricobi — Lazer Light</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-4.jpg" alt="">
                <span class="pageProjects__item--text">Nikita Efremov</span>
              </a> <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-1.jpg" alt="">
                <span class="pageProjects__item--text">Vitobox — Healthy Lifestyle</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-2.jpg" alt="">
                <span class="pageProjects__item--text">Yumms — Ice Cream Baby</span>
              </a>
              <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-3.jpg" alt="">
                <span class="pageProjects__item--text">Ricobi — Lazer Light</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-4.jpg" alt="">
                <span class="pageProjects__item--text">Nikita Efremov</span>
              </a>
              </div>
            </div>
            <div class="tabs__panel tabs__projects--panel">
              <div class="pageProjects__items">
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-4.jpg" alt="">
                <span class="pageProjects__item--text">Nikita Efremov</span>
              </a>
              <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-5.jpg" alt="">
                <span class="pageProjects__item--text">Плоский Белый</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-6.jpg" alt="">
                <span class="pageProjects__item--text">PIMS — Больше, чем чай</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-4.jpg" alt="">
                <span class="pageProjects__item--text">Nikita Efremov</span>
              </a>
              <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-5.jpg" alt="">
                <span class="pageProjects__item--text">Плоский Белый</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-6.jpg" alt="">
                <span class="pageProjects__item--text">PIMS — Больше, чем чай</span>
              </a>
              </div>
            </div>
            <div class="tabs__panel tabs__projects--panel">
              <div class="pageProjects__items">
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-4.jpg" alt="">
                <span class="pageProjects__item--text">Nikita Efremov</span>
              </a>
              <a href="projectOne.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-5.jpg" alt="">
                <span class="pageProjects__item--text">Плоский Белый</span>
              </a>
              <a href="projectTwo.html" class="pageProjects__item relative">
                <img class="pageProjects__item--img" src="../img/image-projects-6.jpg" alt="">
                <span class="pageProjects__item--text">PIMS — Больше, чем чай</span>
              </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pageProjects__button">
          <a href="strategy.html" class="btn-reset button-breff">
            <span class="one txt">заполнить</span>
            <span class="two">
              <span class="word txt">бриф</span>
              <span class="two-line"></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
