<div class="pageStrategy anim-opacity-page">
  <div class="primary__container">
    <div class="container">
      <div class="content relative">
        <div class="tabs tabs__strategy relative" data-tabs="tabs-strategy">
          <ul class="tabs__nav tabs__strategy--nav">
            <li class="tabs__nav-item tabs__strategy--item">
              <button
                class="btn-reset tabs__nav-btn tabs__strategy--btn"
                type="button"
              >
                <span class="title">
                  <span class="title__word">стратегия</span>
                  <span class="two-line"></span>
                </span>
              </button>
            </li>
            <li class="tabs__nav-item tabs__strategy--item">
              <button
                class="btn-reset tabs__nav-btn tabs__strategy--btn"
                type="button"
              >
                <span class="title">
                  <span class="title__word">нейминг</span>
                  <span class="two-line"></span>
                </span>
              </button>
            </li>
            <li class="tabs__nav-item tabs__strategy--item">
              <button
                class="btn-reset tabs__nav-btn tabs__strategy--btn"
                type="button"
              >
                <span class="title">
                  <span class="title__word">брендинг</span>
                  <span class="two-line"></span>
                </span>
              </button>
            </li>
            <li class="tabs__nav-item tabs__strategy--item">
              <button
                class="btn-reset tabs__nav-btn tabs__strategy--btn"
                type="button"
              >
                <span class="title">
                  <span class="title__word">сайты</span>
                  <span class="two-line"></span>
                </span>
              </button>
            </li>
          </ul>
          <div class="tabs__content tabs__strategy--content">
            <div class="tabs__panel tabs__strategy--panel">
              <div class="pageStrategy__panel pageStrategy__panel--one">
                <div class="two-line desk"></div>
                <div class="pageStrategy__form">
                  <div class="pageStrategy__form--containers">
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">Заказчик</div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="text"
                            placeholder="Компания"
                            name="company"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input type="text" placeholder="Ф.И.О" name="name" />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="text"
                            placeholder="Должность"
                            name="job"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="tel"
                            placeholder="Телефон для связи"
                            name="tel"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="email"
                            placeholder="E-mail"
                            name="email"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Общая информация
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Что послужило предпосылками для проекта?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Какие проблемы Вы видите, которые вызвали необходимость проведения аналитических, исследовательских работ?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Какова цель исследования"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Как будут использоваться результаты исследования (для принятия каких решений будут использоваться результаты исследования, когда необходимо принять эти решения и т.п.)?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Проводились ли ранее аналогичные исследования, которые могу послужить базой для отслеживания изменений в динамике?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Гипотезы и предположения заказчика, которые он хотел бы подтвердить или опровергнуть в ходе исследования."
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Ключевые регионы исследования"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Интересующий период времени (в случае сбора статистической информации)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Товарные категории"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pageStrategy__form--end">
                    <div class="pageStrategy__form--buttons">
                      <button
                        class="btn-reset pageStrategy__form--button"
                        type="submit"
                      >
                        ОТПРАВИТЬ
                      </button>
                      <span class="pageStrategy__form--policy"
                        ><span>Нажимая на кнопку, я соглашаюсь на </span
                        ><a href="policy.html">обработку персональных данных</a>
                      </span>
                      <div
                        class="pageStrategy__form--error data-strategy-error display-none"
                      >
                        Введено неверное значение, попробуйте еще раз.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__strategy--panel">
              <div class="pageStrategy__panel pageStrategy__panel--two">
                <div class="two-line desk"></div>
                <div class="pageStrategy__form">
                  <div class="pageStrategy__form--containers">
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">Заказчик</div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="text"
                            placeholder="Компания"
                            name="company"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input type="text" placeholder="Ф.И.О" name="name" />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="text"
                            placeholder="Должность"
                            name="job"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="tel"
                            placeholder="Телефон для связи"
                            name="tel"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="email"
                            placeholder="E-mail"
                            name="email"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Общая информация
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Что называем?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Ценовой сегмент (нижний/средний +/- премиум/Luxry)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="На какой географии рассчитываете работать?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Где вас увидит целевая аудитория? (точки контакта)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Какова ваша ценность (почему люди должны прийти к вам, а не к конкуренту?)"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">Конкуренты</div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Какие названия у конкурентов вам нравятся, почему?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Какие не нравятся, почему?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Перечислите любые названия, которые вам нравятся – не нравятся, почему?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Портрет потребителя (пол, возраст, уровень доходов, социальный статус, интересы, и т.д.)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Что должен понять потребитель, когда увидит ваше наименование?"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Требования и пожелания
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Язык названия"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Допустимо ли использование неологизма в названии (новое, сконструированное слово)?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Что ДОЛЖНО быть отражено в названии (например, принадлежность к продуктовой категории, ценовому сегменту, целевой аудитории, географическому месту и пр.)?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Портрет потребителя (пол, возраст, уровень доходов, социальный статус, интересы, и т.д.)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Что НЕ должно быть отражено в названии?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Сколько слов можно использовать?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Есть ли приемы в нейминге, которые вы бы хотели применить к вашему наименованию?"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Патентная регистрация
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="По каким классам МКТУ вы будете регистрировать ваше наименование? Если вы не знаете классы, подробно опишите ваш род деятельности, товар, услугу."
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pageStrategy__form--end">
                    <div class="pageStrategy__form--buttons">
                      <button
                        class="btn-reset pageStrategy__form--button"
                        type="submit"
                      >
                        ОТПРАВИТЬ
                      </button>
                      <span class="pageStrategy__form--policy"
                        ><span>Нажимая на кнопку, я соглашаюсь на </span
                        ><a href="policy.html">обработку персональных данных</a>
                      </span>
                      <div
                        class="pageStrategy__form--error data-strategy-error display-none"
                      >
                        Введено неверное значение, попробуйте еще раз.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__strategy--panel">
              <div class="pageStrategy__panel pageStrategy__panel--three">
                <div class="two-line desk"></div>
                <div class="pageStrategy__form">
                  <div class="pageStrategy__form--containers">
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">Заказчик</div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="text"
                            placeholder="Компания"
                            name="company"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input type="text" placeholder="Ф.И.О" name="name" />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="text"
                            placeholder="Должность"
                            name="job"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="tel"
                            placeholder="Телефон для связи"
                            name="tel"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="email"
                            placeholder="E-mail"
                            name="email"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Общая информация
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Продукт/услуга"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Торговая марка"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Описание продукта/услуги"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Ценовой сегмент (нижний/средний/премиум/luxury)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Позиция торговой марки на рынке (если есть)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="На какой географии рассчитываете работать?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Где потребитель будет видеть визуальную айдентику (точки контакта)"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">Конкуренты</div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Назовите какие стилистические решения конкурентов вы хотели бы отметить. Почему?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Какие позиции или сообщения они транслируют?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Если есть визуальные решения не из вашего рынка, которые вам нравятся – укажите"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Целевая аудитория
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Пол"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Возраст"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Образование"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Семейное положение, наличие детей"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Уровень дохода"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Социальный статус"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Интересы"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Маркетинговые задачи
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Конкурентные преимущества продукта/услуги"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Есть ли что-то, что обязательно должно присутствовать в айдентике."
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Что обязательно НЕ должно присутствовать?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Какой тон и характер вашей торговой марки?(опишите 3 прилагательными)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Какое впечатление должно оставаться у потребителя (указать одно самое важное) после встречи с маркой"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pageStrategy__form--end">
                    <div class="pageStrategy__form--buttons">
                      <button
                        class="btn-reset pageStrategy__form--button"
                        type="submit"
                      >
                        ОТПРАВИТЬ
                      </button>
                      <span class="pageStrategy__form--policy"
                        ><span>Нажимая на кнопку, я соглашаюсь на </span
                        ><a href="policy.html">обработку персональных данных</a>
                      </span>
                      <div
                        class="pageStrategy__form--error data-strategy-error display-none"
                      >
                        Введено неверное значение, попробуйте еще раз.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__strategy--panel">
              <div class="pageStrategy__panel pageStrategy__panel--four">
                <div class="two-line desk"></div>
                <div class="pageStrategy__form">
                  <div class="pageStrategy__form--containers">
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">Заказчик</div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="text"
                            placeholder="Компания"
                            name="company"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input type="text" placeholder="Ф.И.О" name="name" />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="text"
                            placeholder="Должность"
                            name="job"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="tel"
                            placeholder="Телефон для связи"
                            name="tel"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <input
                            type="email"
                            placeholder="E-mail"
                            name="email"
                          />
                          <div
                            class="pageStrategy__form--warning data-strategy-warning display-none"
                          >
                            Введено неверное значение, попробуйте еще раз.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Общая информация
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Что называем?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Ценовой сегмент (нижний/средний +/- премиум/Luxry)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="На какой географии рассчитываете работать?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Где вас увидит целевая аудитория? (точки контакта)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Какова ваша ценность (почему люди должны прийти к вам, а не к конкуренту?)"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">Конкуренты</div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Какие названия у конкурентов вам нравятся, почему?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Какие не нравятся, почему?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Перечислите любые названия, которые вам нравятся – не нравятся, почему?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Портрет потребителя (пол, возраст, уровень доходов, социальный статус, интересы, и т.д.)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            type="text"
                            placeholder="Что должен понять потребитель, когда увидит ваше наименование?"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Требования и пожелания
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Язык названия"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Допустимо ли использование неологизма в названии (новое, сконструированное слово)?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Что ДОЛЖНО быть отражено в названии (например, принадлежность к продуктовой категории, ценовому сегменту, целевой аудитории, географическому месту и пр.)?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Портрет потребителя (пол, возраст, уровень доходов, социальный статус, интересы, и т.д.)"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Что НЕ должно быть отражено в названии?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Сколько слов можно использовать?"
                          ></textarea>
                        </div>
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="Есть ли приемы в нейминге, которые вы бы хотели применить к вашему наименованию?"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="pageStrategy__form--container">
                      <div class="pageStrategy__form--name">
                        Патентная регистрация
                      </div>
                      <div class="pageStrategy__form--inputs">
                        <div class="pageStrategy__form--input relative">
                          <textarea
                            rows="1"
                            type="text"
                            placeholder="По каким классам МКТУ вы будете регистрировать ваше наименование? Если вы не знаете классы, подробно опишите ваш род деятельности, товар, услугу."
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pageStrategy__form--end">
                    <div class="pageStrategy__form--buttons">
                      <button
                        class="btn-reset pageStrategy__form--button"
                        type="submit"
                      >
                        ОТПРАВИТЬ
                      </button>
                      <span class="pageStrategy__form--policy"
                        ><span>Нажимая на кнопку, я соглашаюсь на </span
                        ><a href="policy.html">обработку персональных данных</a>
                      </span>
                      <div
                        class="pageStrategy__form--error data-strategy-error display-none"
                      >
                        Введено неверное значение, попробуйте еще раз.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pageStrategy__success data-strategy-success"></div>
      </div>
    </div>
  </div>
</div>
