<div class="pageError">
  <div class="primary__container">
    <div class="container">
      <div class="content relative container-w-header">
          <div class="word-bottom">© SEVENTEEN</div>
          <div class="row">
            <div class="image">
                <svg class=""  viewBox="0 0 772 351">
                  <use xlink:href="img/sprite.svg#404"></use>
                </svg>
            </div>
            <div class="block-text">
              <div class="retative title">
                <span class="">ERROR</span>
                <span class="">ERROR</span>
              </div>
              <div class="text-big txt">
                Вероятнее всего вы зашли на проект который висел где то в интернете, а сейчас мы его удалили
                из за его неактуальности, предлагаем ознакомится с обновленным портфолио, перейдите на главную
                и начните заново
              </div>
              <div class="relative text-small">
                <span class="txt">С уважением, команда</span>
                <span class="txt txt-big">SEVENTEEN</span>
                <span class="text-absolute txt">
                  <p>Вероятнее всего вы зашли на проект который висел где то в интернете, а сейчас мы его удалили из за его неактуальности, предлагаем ознакомится с обновленным портфолио, перейдите на главную и начните заново</p>
                  <p>С уважением, команда</p>
                </span>
              </div>
              <a href="home.html" class="link-big">НА ГЛАВНУЮ</a>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
