<div class="pageHome">

  <div class="swiper pageHome-slider">
    <div class="swiper-wrapper">
       <div class="swiper-slide">
        <picture>
          <img src="../img/home-slider-1.jpg" class="image" width="" height="" alt="">
        </picture>
       </div>
       <div class="swiper-slide">
        <picture>
          <img src="../img/home-slider-2.jpg" class="image" width="" height="" alt="">
        </picture>
       </div>
       <div class="swiper-slide">
        <picture>
          <img src="../img/home-slider-3.jpg" class="image" width="" height="" alt="">
        </picture>
       </div>
       <div class="swiper-slide">
        <picture>
          <img src="../img/home-slider-4.jpg" class="image" width="" height="" alt="">
        </picture>
       </div>
    </div>
  </div>
</div>
