<div class="pagePolicy anim-opacity-page">
  <div class="primary__container">
    <div class="container">
      <div class="content">
        <h1>Согласие с условиями</h1>
        <p>
          Я даю свое согласие на обработку моих персональных данных, в
          соответствии с Федеральным законом от 27-07-2006 года №152-ФЗ «О
          персональных данных», на условиях и для целей, определенных в Согласии
          на обработку персональных данных и Политике в отношении обработки и
          защиты <a href="#">персональных данных.</a>
        </p>
        <h4>Согласие на Обработку персональных данных</h4>
        <p>
          Во исполнение требований Федерального закона от 27.07.2006 г. № 152-ФЗ
          «О персональных данных» я свободно, своей волей и в своем интересе
          выражаю свое согласие ИП Задорожный Алексей Андреевич (адрес места
          нахождения: 125284, г. Москва, Ленинградский пр-т., 31А, Москва, 6
          этаж, ОГРН 320470400088963, ИНН 470311879502) – далее – «Оператор» на
          обработку своих персональных данных, указанных при регистрации и/или
          оставлении заявки на получение предложения и/или рекламной информации
          путем заполнения веб-формы на сайте Оператора
          (https://www.choice.studio) (далее – «Сайт»), направляемой
          (заполненной) с использованием Сайта. Под персональными данными
          понимается любая информация, относящаяся ко мне как к субъекту
          персональных данных, в том числе: фамилия, имя, отчество, паспортные
          данные, дата рождения, адрес <a href="#">места</a> жительства,
          контактные данные (номер домашнего, мобильного, рабочего телефонов,
          адрес электронной почты). Я согласен с тем, что в рамках обработки
          персональных данных Оператор, вправе осуществлять сбор, запись,
          систематизацию, накопление, анализ, использование, извлечение,
          распространение, передачу (предоставление, доступ), получение,
          обработку, хранение, уточнение (обновление, изменение), обезличивание,
          блокирование, удаление, уничтожение моих персональных данных путем
          ведения баз данных автоматизированным, механическим, ручным способами.
          Я выражаю согласие на получение рекламных и информационных материалов
          от Оператора в виде смс-сообщений и по e-mail (электронной почте) по
          номеру телефона и/или адресу электронной почты, отправленным мной
          через веб-форму на Сайте Оператора. Я выражаю согласие и разрешаю
          Оператору объединять персональные данные в информационную систему
          персональных данных и обрабатывать мои персональные данные, с помощью
          средств автоматизации либо без использования средств автоматизации, а
          также с помощью иных программных средств, специально разработанных по
          поручению Оператора Я ознакомлен(а), что: настоящее согласие на
          обработку моих персональных данных и получение рекламы является
          бессрочным и может быть отозвано посредством обращения в адрес
          Оператора посредством направления письменного заявления заказным
          почтовым отправлением с описью вложения либо вручено лично под роспись
          уполномоченному представителю Оператора.
        </p>
        <h4>Политика конфедициальности</h4>
        <ol>
          <li>Общие положения</li>
          <li>
            Политика в отношении обработки и защиты персональных данных
            разработана в соответствии с Федеральным законом от 27.07.2006
          </li>
        </ol>
        <p>
          1. Общие положения 1.1. Политика в отношении обработки и защиты
          персональных данных разработана в соответствии с Федеральным законом
          от 27.07.2006 № 152-ФЗ «О персональных данных» (далее — ФЗ-152).
          Настоящая Политика определяет порядок обработки персональных данных и
          меры по обеспечению безопасности персональных данных в ИП Задорожный
          Алексей Андреевич (адрес места нахождения: 125284, г. Москва,
          Ленинградский пр-т., 31А, Москва, 6 этаж, ОГРН 320470400088963, ИНН
          470311879502) (далее — Оператор) с целью защиты прав и свобод человека
          и гражданина при обработке его персональных данных, в том числе защиты
          прав на неприкосновенность частной жизни, личную и семейную тайну.
          1.2. В Политике используются следующие основные понятия: -
          автоматизированная обработка персональных данных — обработка
          персональных данных с помощью средств вычислительной техники; -
          блокирование персональных данных — временное прекращение обработки
          персональных данных (за исключением случаев, если обработка необходима
          для уточнения персональных данных); - информационная система
          персональных данных — совокупность содержащихся в базах данных
          персональных данных и обеспечивающих их обработку информационных
          технологий и технических средств; - обезличивание персональных данных
          — действия, в результате которых невозможно определить без
          использования дополнительной информации принадлежность персональных
          данных конкретному субъекту персональных данных; - обработка
          персональных данных — любое действие (операция) или совокупность
          действий (операций), совершаемых с использованием средств
          автоматизации или без использования таких средств с персональными
          данными, включая сбор, запись, систематизацию, накопление, хранение,
          уточнение (обновление, изменение), извлечение, использование, передачу
          (распространение, предоставление, доступ), обезличивание,
          блокирование, удаление, уничтожение персональных данных; -
          персональные данные — любая информация, относящаяся к прямо или
          косвенно определенному или определяемому физическому лицу (субъекту
          персональных данных); - предоставление персональных данных — действия,
          направленные на раскрытие персональных данных определенному лицу или
          определенному кругу лиц; - распространение персональных данных —
          действия, направленные на раскрытие персональных данных
          неопределенному кругу лиц (передача персональных данных) или на
          ознакомление с персональными данными неограниченного круга лиц, в том
          числе обнародование персональных данных в средствах массовой
          информации, размещение в информационнотелекоммуникационных сетях или
          предоставление доступа к персональным данным каким-либо иным способом;
          - уничтожение персональных данных — действия, в результате которых
          невозможно восстановить содержание персональных данных в
          информационной системе персональных данных и (или) в результате
          которых уничтожаются материальные носители персональных данных.
          Оператор обязан опубликовать или иным образом обеспечить
          неограниченный доступ к настоящей Политике обработки персональных
          данных в соответствии с ч. 2 ст. 18.1. ФЗ 152. 1.3. Оператор имеет
          право вносить изменения в настоящую Политику. При внесении изменений в
          актуальной редакции указывается дата последнего обновления. Новая
          редакция Политики вступает в силу с момента ее размещения на сайте
          Оператора, если иное не предусмотрено новой редакцией Политики.
          Действующая редакция Политики всегда находится на сайте в публичном
          доступе по адресу: https://www.choice.studio 2. Персональные данные
          субъекта персональных данных Субъект персональных данных принимает
          решение о предоставлении его персональных данных и дает согласие на их
          обработку свободно, своей волей и в своих интересах. Согласие на
          обработку персональных данных может быть дано субъектом персональных
          данных или его представителем в любой позволяющей подтвердить факт его
          получения форме, если иное не установлено федеральным законом или
          условиями Положения. Вводя личные данные в веб-форме на сайте
          Оператора, нажимая кнопку «Отправить», субъект персональных данных
          (субъект ПДн) принимает решение о предоставлении своих персональных
          данных и дает согласие на их обработку своей волей и в своем интересе,
          при этом такое согласие субъекта ПДн является конкретным и
          сознательным. Администрация сайта не проверяет достоверность
          персональной информации, предоставляемой субъектами ПДн, и не
          осуществляет проверку их дееспособности. При этом Администрация сайта
          исходит из того, что информация, переданная им от пользователей,
          является достоверной. Субъект ПДн несет ответственность за
          предоставление персональных данных третьего лица. Личные данные,
          вводимые субъектом ПДн при заполнении веб-формы, могут быть
          использованы Администрацией сайта для подготовки и направления оферты,
          совершения сделки, выполнения услуги или улучшения качества услуг. 3.
          Обработка персональных данных субъектов персональных данных Принятие
          условий настоящей Политики в части положений об обработке персональных
          данных осуществляется путем проставления субъекта ПДн соответствующей
          отметки при заполнении любой веб-формы на сайте Оператора и является
          выраженным осознанным согласием субъекта ПДн на обработку персональных
          данных. Субъект ПДн соглашается с тем, что Администрация сайта имеет
          право на хранение и обработку, в том числе и автоматизированную, любой
          информации, относящейся к персональным данным пользователя в
          соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О
          персональных данных», включая сбор, систематизацию, накопление,
          хранение, уточнение, использование, распространение (в том числе
          передачу), обезличивание, блокирование, уничтожение персональных
          данных, предоставленных пользователем при заполнении веб-формы на
          сайте Оператора. Согласие на обработку персональных данных может быть
          в любой момент отозвано субъектом ПДн путем письменного обращения в
          адрес Администрации сайта. В случае отзыва пользователем согласия на
          обработку персональных данных, Администрация сайта удаляет
          персональные данные субъекта ПДн и не вправе использовать их в
          будущем.
        </p>
      </div>
    </div>
  </div>
</div>
