<div class="pageAbout">
  <div class="primary__container">
    <div class="container">
      <div class="content relative container-w-header">
        <div class="words">
          <div class="word word--1 anim-word-1">
            <div class="word--span">Мы</div>
          </div>
          <div class="word word--2 anim-word-2">
            <div class="word--span">международный</div>
          </div>
          <div class="word word--3 anim-word-3">
            <div class="word--span">брендинговый</div>
          </div>
          <div class="word word--4">
            <div class="word--span anim-word-4">бутик</div>
            <div class="word__many amin-word-many">
              Мы делаем исследования по рынку, пишем стратегии, разрабатываем
              вербальную и визуальную айдентику для корпоративных и продуктовых
              торговых марок и, конечно, любим бренд коммуникацию: цифровую и
              оффлайновую.
            </div>
          </div>
        </div>
        <a href="strategy.html" class="pageAbout__button">
          <span class="line line-up anim-word-line-1"></span>
          <span class="pageAbout__button--row">
            <span class="line line-left anim-word-line-2"></span>
            <span class="pageAbout__button--word anim-word-button">
              ЗАПОЛНИТЬ БРИФ
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
