<div class="pageContact">
  <div class="primary__container">
    <div class="container">
      <div class="content relative">
        <div class="title">
          <h1>контакты</h1>
          <span class="two-line"></span>
        </div>
        <div class="pageContact__content">
          <div class="pageContact__contact">
              <span class="txt">Urbanização Pine Sun Park, Albufeira 8200-593, Portugal</span>
              <a class="txt" href="tel:+ 351 921 054 990">+ 351 921 054 990</a>
          </div>
          <div class="pageContact__feedback">
            <div class="feedback__text">
              Мы прекрасно понимаем что бывают разные ситуации. Иногда нет денег, иногда времени, иногда смелости. Давайте поговорим, возможно мы сможем разрешить хотя-бы какую-то из них.
            </div>
            <div class="feedback__slogan">
              Расскажите о задачах, мы оперативно ответим:
            </div>
            <div class="form relative">
              <div class="feedback__inputs">
                  <input type="text" placeholder="Ваше имя" name="name">
                  <input type="text" placeholder="Название компании" name="company">
                  <input type="email" placeholder="E-mail" name="email">
                  <input type="tel" placeholder="Ваш телефон" name="tel">
              </div>
              <div class="feedback__button relative">
                <button class="btn-reset button-submit data-form-submit" type="submit">ОТПРАВИТЬ</button>
                <span class="policy">Нажимая на кнопку, я соглашаюсь на <a href="policy.html">обработку персональных данных</a></span>
                <span class="warning data-warning display-none">
                  Введено неверное значение, попробуйте еще раз.
                </span>
              </div>
              <div class="feedback__success data-form-success display-none">
                <div class="border"></div>
                <div class="text">
                  Письмо успешно отправлено!
                </div>
                <button class="btn-reset data-form-close">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
        <div class="pageContact__bottom">
          <div class="copy">
            © SEVENTEEN
          </div>
          <div class="social">
            <a href="" target="_blank">ВКОНТАКТЕ</a>
            <a href="" target="_blank">INSTAGRAM</a>
            <a href="" target="_blank">FACEBOOK</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
