<div class="pageProject">
  <div class="primary__container">
    <div class="pageProject__main relative anim-page-scale">
      <img
        class="pageProject__main--image"
        src="./img//image-project-1.jpg"
        alt=""
      />
      <a class="pageProject__main--back" href="projects.html">назад</a>
    </div>
    <div class="container">
      <div class="content relative">
        <div class="title-main">
          <span class="first-word anim-project-title-one">автономия</span>
          <div class="title">
            <h1 class="anim-project-title">генерал</h1>
            <span class="two-line anim-project-line"></span>
          </div>
        </div>
        <div class="hashtags anim-hashtags">
          <span class="hashtag">АЙДЕНТИКА</span>
          <span class="hashtag">УПАКОВКА</span>
          <span class="hashtag">ВИЗУАЛИЗАЦИЯ</span>
        </div>
        <div class="text anim-text">
          <p>
            NOWOOL — новый груминг-салон для всех четерехлапых и их людей. Бренд
            стремится выделяться на фоне своих конкурентов, быть более стильным
            и современным. Мы разработали айдентику, которая поможет NO WOOL
            стать идейным и ярким местом.
          </p>
        </div>
        <div class="items">
          <div class="item__video anim-video relative">
            <div class="item__video--fon"></div>
            <video
              class="item__video--video data-video"
              src="https://v4.cdnpk.net/videvo_files/video/free/video0453/large_watermarked/_import_605f65a0c8cfa7.70318750_FPpreview.mp4"
            ></video>
            <button class="btn-reset play data-play">
              <svg class="" viewBox="0 0 14 17">
                <use xlink:href="img/sprite.svg#icon-play"></use>
              </svg>
            </button>
          </div>
          <div class="item__image anim-image relative">
            <img src="./img/image-project-3.jpg" alt="" />
          </div>
          <div class="item__image anim-image relative">
            <img src="./img/image-project-4.jpg" alt="" />
          </div>
        </div>
        <a href="projects.html" class="back anim-back"> назад </a>
      </div>
    </div>
    <div class="item__last relative anim-last">
      <span class="item__last--fon"></span>
      <img class="item__last--img" src="./img/image-project-5.jpg" alt="" />
      <a href="projectTwo.html" class="item__last--words anim-last-words">
        <div class="item__last--words--prefix">следующий проект</div>
        <div class="item__last--word">
          <span class="first-word">автономия</span>
          <div class="item__last--word--anim">
            <span class="two-line one anim-line-project-one"></span>
            <span class="two-word">генерал</span>
            <span class="two-line two anim-line-project-two"></span>
          </div>
        </div>
      </a>
      <div class="item__last--bottom">
        <a href="strategy.html" class="item__last--strategy">заполнить бриф</a>
        <a class="item__last--arrow" href="#top">
          <svg class="" viewBox="0 0 14 9">
            <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
